##################################################################
# THIS CODEOWNERS FILE IS GITLAB FORMATTED 
# SORRY GITHUB :( 
# THERE IS NO ERROR NOR REAL USE-CASE EXCEPT FOR REAL TESTING
##################################################################

* @default-owner @vzsky

[Files]

README.md @docs
LICENSE @legal

/lua/ @dev

[Documentation]
LICENSE @license
README.md @readme @installation
